.btn {
    background-color: $color-primary;
    color: $bg-primary;
    border: none;
    padding: $spacing-xs $spacing-sm;
    border-radius: 32px;
    font-weight: $font-weight-bold;
    font-size: 12px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-align: center;
    display: inline-block;
}

.btn:hover {
    background-color: $brand-secondary;
    transition: all .2s ease-in-out;
}