.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

.nav-item {
    cursor: pointer;
    padding: $spacing-xs $spacing-sm;
    transition: all .2s ease-in-out;
    border-radius: 32px;
    box-sizing: border-box;
}

.nav-item:hover {
    color: $bg-primary;
    background-color: $brand-secondary;
    transition: all .2s ease-in-out;
}

.nav-item.active {
    color: $color-primary;
    background-color: $brand-primary;
}

.pills {
    justify-content: flex-start;
}

.pill {
    background-color: $bg-tertiary;
    border: solid 1px rgba($color-primary, .2);
}

.pill-container {
    width: 100%;
}

.pill-content {
    width: 100%;
}