table {
    width: 100%;
}

th {
    text-align: left;
    border-bottom: solid 1px rgba($color-primary, .1);
    padding: $spacing-xs $spacing-sm;
}

td {
    padding: $spacing-xs $spacing-sm;
    background-color: $bg-tertiary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}