// Colors
$bg-primary: #262728;
$bg-secondary: #18181a;
$bg-tertiary: #202224;

$color-primary: #f8f7f7;

$brand-primary: #c73131;
$brand-secondary: #e99f00;

$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;

// Font
$font-primary: 'Roboto', sans-serif;

// Font weights
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font sizes
$font-size-xxs: 0.5rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

// Spacing
$spacing-xxs: 0.25rem;
$spacing-xs: 0.5rem;
$spacing-sm: 0.75rem;
$spacing-md: 1rem;
$spacing-lg: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-xxl: 2rem;

// Breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Grid
$grid-columns: 12;
$grid-gutter: 1.5rem;