#window {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#window-header {
    background-color: $bg-secondary;
    padding: $spacing-md;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgba($color-primary, 0.1) !important;
}

#window-content {
    padding: $spacing-xl $spacing-md;
    flex: 1;
    overflow-y: scroll;
}

#window-footer {
    display: flex;
    justify-content: space-between;
    padding: $spacing-sm;
    background-color: $bg-tertiary;
    border-top: solid 1px rgba($color-primary, 0.1) !important;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
}